env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "A4nH+wdzJ4MrWV3wQBj7SZNE4KLodT+vdoSkrbiOi9pPG/a/lY87CRqkdwWUATdZZSq3x1OEeWpoZN2tRfJ2vSWOXz0qX2qEaqig8mSOSD+/gYvuzXu+1LTVp4GMAUJFXV8Pq9Ut0FsVzvONuBJtwAGvFtvQNvPpvV+szINaBPa1s+GFk7UEJtRvOVPQs+3RYjhVV6lakZYXyjNMfYvuP3Vv4cR7iZZsrNsakj5xClvu5ixCHWWOX2CAiC6JiM2uwDCVVjqXNDUDKRCBJCnjWHtChnQrNpmbFHuQLKyhu1X8d9Ldj40dXcFBs26oxeGYOk2KIdTfhkuF15qpY2DldDBelbCBgNT7v1sUzww+FaC1ZYsMBKqRNtgIlMuZWYtoj/gRvqpg2dUWOSP9hOpGJGQEkGcqfZXSW148+InBK3ErYg6kXkCPbST6AwLL2dVrX002lPvR/vIZVJbPohEGQ/bg4wuRtOOLR4q54wzQ34XBy/+59H4hrOTySiwIHrAWYxCTuMJ/WTrdqL+pWZwpAyJ8on3zSDYkV5GvsBZTwcbI8oIsKO9/cHIJSFwn5B6ux05fXNVEOr5XqnpOqA7KV2odyinIYgyZkZLfON35ECmKiBU+lMiu4bEKQO+IksMFfg4AJvghRKlshVum2ZxT2JCqW5WbU/2QBxGI6Eu3VzM="
   # Coverity run condition (avoid matrix multiple runs), need customized
   # build script. Need an update if new matrix cases.
   - coverity_scan_run_condition='"$CC" = gcc -a "$TRAVIS_OS_NAME" != osx'
   # Coverity script test mode (if true no uploading, avoid reaching the quota)
   # usual processing: false.
   - coverity_scan_script_test_mode=false
   # Travis CI has 1.5 cores per VM, take advantage of it
   - MAKEFLAGS="-j 2"

os:
  - linux
  - osx

language: cpp

compiler:
  - gcc
  - clang

matrix:
  exclude:
    - os: osx
      compiler: gcc
  fast_finish: true

before_install:
  - env
  - df
  - date -u
  - uname -a
  - if [ ${TRAVIS_OS_NAME} = "linux" ]; then
      echo -n | openssl s_client -connect https://scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca- ;
    fi
  - export J='-j3'

install:
  - git submodule update --init --recursive
  - if [[ ${COVERITY_BUILD_DISABLED} == 1 ]];
    then
        exit 0;
    fi
  - if [ ${TRAVIS_OS_NAME} = "linux" -a "$CC" = "gcc" ];
    then
        if [ "$BUILDDOC" = 1 ]; then
            sudo apt-get install doxygen xsltproc;
        fi;
        sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test;
        sudo apt-get update;
        sudo apt-get install gcc-7 g++-7;
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 90;
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 90;
    fi

# CImg is now downloaded by CImg/Makefile, no need to install it
#  - sudo apt-get install cimg-dev

script:
  - if [[ ${COVERITY_SCAN_BRANCH} == 1 ]];
    then
      echo "Don't build on coverity_scan branch.";
      exit 0;
    fi
  - make -C CImg CImg.h
  - make $J CONFIG=debug
  - make $J nomulti CONFIG=debug
  - if [ "$CC" = "gcc" ]; then
      make -C CImg clean;
      make -C CImg CONFIG=debug CXXFLAGS_ADD=-fopenmp LDFLAGS_ADD=-fopenmp;
    fi

# ubuntu-toolchain-r/test contains recent versions of gcc
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-7
    - g++-7
  coverity_scan:
    # customized build script URL
    # TRAVIS_REPO_SLUG: owner_name/repo_name of repository currently being built
    # TRAVIS_BRANCH: name of the branch currently being built
    build_script_url: https://raw.githubusercontent.com/$TRAVIS_REPO_SLUG/$TRAVIS_BRANCH/.travis-coverity-scan-build.sh
    # project metadata
    project:
      name: $TRAVIS_REPO_SLUG
    # Where email notification of build analysis results will be sent
    notification_email: frederic.devernay@m4x.org
    # Commands to prepare for build_command
    #build_command_prepend: ./configure
    # This command will be added as an argument to "cov-build" to compile
    # the project for analysis
    build_command: "make $J CONFIG=debug"
    # Pattern to match selecting branches that will run analysis
    branch_pattern: coverity_scan
